.place_order {
  padding: 1em;
  margin: 1em;
  background-color: rgba(207,220,222,1);
}

.active {
  background-color: rgba( 25,  7, 63,1);
}


/* Space out content a bit */
body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-family: 'Fira Sans', sans-serif;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
}

/* Custom page header */
.header {
  padding-bottom: 1rem;
  border-bottom: .05rem solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
}

/* Custom page footer */
.footer {
  padding-top: 1.5rem;
  color: #777;
  border-top: .05rem solid #e5e5e5;
}

/* Customize container */
@media (min-width: 48em) {
  .container {
    max-width: 46rem;
  }
}
.container-narrow > hr {
  margin: 2rem 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: .05rem solid #e5e5e5;
}
.jumbotron .btn {
  padding: .75rem 1.5rem;
  font-size: 1.5rem;
}

/* Supporting marketing content */
.marketing {
  margin: 3rem 0;
}
.marketing p + h4 {
  margin-top: 1.5rem;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 2rem;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}





/* neat sequencing color scheme */

/*

dark purple: rgba( 25,  7, 63,1)

/*

/*


#####  Palette URL: http://paletton.com/#uid=73l0+0kllll2aQ9bav8vwbyWU3p

*** Primary color:

   shade 0 = #246068 = rgb( 36, 96,104) = rgba( 36, 96,104,1) = rgb0(0.141,0.376,0.408)
   shade 1 = #CFDCDE = rgb(207,220,222) = rgba(207,220,222,1) = rgb0(0.812,0.863,0.871)
   shade 2 = #649198 = rgb(100,145,152) = rgba(100,145,152,1) = rgb0(0.392,0.569,0.596)
   shade 3 = #023238 = rgb(  2, 50, 56) = rgba(  2, 50, 56,1) = rgb0(0.008,0.196,0.22)
   shade 4 = #000F11 = rgb(  0, 15, 17) = rgba(  0, 15, 17,1) = rgb0(0,0.059,0.067)

*** Secondary color (1):

   shade 0 = #452F74 = rgb( 69, 47,116) = rgba( 69, 47,116,1) = rgb0(0.271,0.184,0.455)
   shade 1 = #DAD6E4 = rgb(218,214,228) = rgba(218,214,228,1) = rgb0(0.855,0.839,0.894)
   shade 2 = #8575AA = rgb(133,117,170) = rgba(133,117,170,1) = rgb0(0.522,0.459,0.667)
   shade 3 = #19073F = rgb( 25,  7, 63) = rgba( 25,  7, 63,1) = rgb0(0.098,0.027,0.247)
   shade 4 = #060013 = rgb(  6,  0, 19) = rgba(  6,  0, 19,1) = rgb0(0.024,0,0.075)

*** Secondary color (2):

   shade 0 = #AA9A39 = rgb(170,154, 57) = rgba(170,154, 57,1) = rgb0(0.667,0.604,0.224)
   shade 1 = #FFFDEE = rgb(255,253,238) = rgba(255,253,238,1) = rgb0(1,0.992,0.933)
   shade 2 = #F8ECA2 = rgb(248,236,162) = rgba(248,236,162,1) = rgb0(0.973,0.925,0.635)
   shade 3 = #5C4F01 = rgb( 92, 79,  1) = rgba( 92, 79,  1,1) = rgb0(0.361,0.31,0.004)
   shade 4 = #1B1700 = rgb( 27, 23,  0) = rgba( 27, 23,  0,1) = rgb0(0.106,0.09,0)

*** Complement color:

   shade 0 = #AA6F39 = rgb(170,111, 57) = rgba(170,111, 57,1) = rgb0(0.667,0.435,0.224)
   shade 1 = #FFF6EE = rgb(255,246,238) = rgba(255,246,238,1) = rgb0(1,0.965,0.933)
   shade 2 = #F8CBA2 = rgb(248,203,162) = rgba(248,203,162,1) = rgb0(0.973,0.796,0.635)
   shade 3 = #5C2D01 = rgb( 92, 45,  1) = rgba( 92, 45,  1,1) = rgb0(0.361,0.176,0.004)
   shade 4 = #1B0D00 = rgb( 27, 13,  0) = rgba( 27, 13,  0,1) = rgb0(0.106,0.051,0)


#####  Generated by Paletton.com (c) 2002-2014*/



/*body {
    background: #CAECE9;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 14px;
}

a {
    color: #26776F;
}

a:hover {
    color: #333;
}

input[type="text"],
input[type="password"] {
    background: white;
    border: 1px solid #BFE6E2;
    padding: 2px;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 14px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    color: #105751;
}

input[type="submit"] {
    background: #105751;
    border: 1px solid #073B36;
    padding: 1px 3px;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 14px;
    font-weight: bold;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    color: white;
}

div.page {
    background: white;
    border: 1px solid #6ECCC4;
    width: 700px;
    margin: 30px auto;
}

div.page h1 {
    background: #6ECCC4;
    margin: 0;
    padding: 10px 14px;
    color: white;
    letter-spacing: 1px;
    text-shadow: 0 0 3px #24776F;
    font-weight: normal;
}

div.page div.navigation {
    background: #DEE9E8;
    padding: 4px 10px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #eee;
    color: #888;
    font-size: 12px;
    letter-spacing: 0.5px;
}

div.page div.navigation a {
    color: #444;
    font-weight: bold;
}

div.page h2 {
    margin: 0 0 15px 0;
    color: #105751;
    text-shadow: 0 1px 2px #ccc;
}

div.page div.body {
    padding: 10px;
}

div.page div.footer {
    background: #eee;
    color: #888;
    padding: 5px 10px;
    font-size: 12px;
}

div.page div.followstatus {
    border: 1px solid #ccc;
    background: #E3EBEA;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    padding: 3px;
    font-size: 13px;
}

div.page ul.messages {
    list-style: none;
    margin: 0;
    padding: 0;
}

div.page ul.messages li {
    margin: 10px 0;
    padding: 5px;
    background: #F0FAF9;
    border: 1px solid #DBF3F1;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    min-height: 48px;
}

div.page ul.messages p {
    margin: 0;
}

div.page ul.messages li img {
    float: left;
    padding: 0 10px 0 0;
}

div.page ul.messages li small {
    font-size: 0.9em;
    color: #888;
}

div.page div.twitbox {
    margin: 10px 0;
    padding: 5px;
    background: #F0FAF9;
    border: 1px solid #94E2DA;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

div.page div.twitbox h3 {
    margin: 0;
    font-size: 1em;
    color: #2C7E76;
}

div.page div.twitbox p {
    margin: 0;
}

div.page div.twitbox input[type="text"] {
    width: 585px;
}

div.page div.twitbox input[type="submit"] {
    width: 70px;
    margin-left: 5px;
}

ul.flashes {
    list-style: none;
    margin: 10px 10px 0 10px;
    padding: 0;
}

ul.flashes li {
    background: #B9F3ED;
    border: 1px solid #81CEC6;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    padding: 4px;
    font-size: 13px;
}

div.error {
    margin: 10px 0;
    background: #FAE4E4;
    border: 1px solid #DD6F6F;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    padding: 4px;
    font-size: 13px;
}



.active {
  background-color: rgba( 25,  7, 63,1);
}




/* Space out content a bit */
body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-family: 'Fira Sans', sans-serif;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
}

/* Custom page header */
.header {
  padding-bottom: 1rem;
  border-bottom: .05rem solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
}

/* Custom page footer */
.footer {
  padding-top: 1.5rem;
  color: #777;
  border-top: .05rem solid #e5e5e5;
}

/* Customize container */
@media (min-width: 48em) {
  .container {
    max-width: 46rem;
  }
}
.container-narrow > hr {
  margin: 2rem 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: .05rem solid #e5e5e5;
}
.jumbotron .btn {
  padding: .75rem 1.5rem;
  font-size: 1.5rem;
}

/* Supporting marketing content */
.marketing {
  margin: 3rem 0;
}
.marketing p + h4 {
  margin-top: 1.5rem;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 2rem;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}





/* neat sequencing color scheme */

/*

dark purple: rgba( 25,  7, 63,1)

/*

/*


#####  Palette URL: http://paletton.com/#uid=73l0+0kllll2aQ9bav8vwbyWU3p

*** Primary color:

   shade 0 = #246068 = rgb( 36, 96,104) = rgba( 36, 96,104,1) = rgb0(0.141,0.376,0.408)
   shade 1 = #CFDCDE = rgb(207,220,222) = rgba(207,220,222,1) = rgb0(0.812,0.863,0.871)
   shade 2 = #649198 = rgb(100,145,152) = rgba(100,145,152,1) = rgb0(0.392,0.569,0.596)
   shade 3 = #023238 = rgb(  2, 50, 56) = rgba(  2, 50, 56,1) = rgb0(0.008,0.196,0.22)
   shade 4 = #000F11 = rgb(  0, 15, 17) = rgba(  0, 15, 17,1) = rgb0(0,0.059,0.067)

*** Secondary color (1):

   shade 0 = #452F74 = rgb( 69, 47,116) = rgba( 69, 47,116,1) = rgb0(0.271,0.184,0.455)
   shade 1 = #DAD6E4 = rgb(218,214,228) = rgba(218,214,228,1) = rgb0(0.855,0.839,0.894)
   shade 2 = #8575AA = rgb(133,117,170) = rgba(133,117,170,1) = rgb0(0.522,0.459,0.667)
   shade 3 = #19073F = rgb( 25,  7, 63) = rgba( 25,  7, 63,1) = rgb0(0.098,0.027,0.247)
   shade 4 = #060013 = rgb(  6,  0, 19) = rgba(  6,  0, 19,1) = rgb0(0.024,0,0.075)

*** Secondary color (2):

   shade 0 = #AA9A39 = rgb(170,154, 57) = rgba(170,154, 57,1) = rgb0(0.667,0.604,0.224)
   shade 1 = #FFFDEE = rgb(255,253,238) = rgba(255,253,238,1) = rgb0(1,0.992,0.933)
   shade 2 = #F8ECA2 = rgb(248,236,162) = rgba(248,236,162,1) = rgb0(0.973,0.925,0.635)
   shade 3 = #5C4F01 = rgb( 92, 79,  1) = rgba( 92, 79,  1,1) = rgb0(0.361,0.31,0.004)
   shade 4 = #1B1700 = rgb( 27, 23,  0) = rgba( 27, 23,  0,1) = rgb0(0.106,0.09,0)

*** Complement color:

   shade 0 = #AA6F39 = rgb(170,111, 57) = rgba(170,111, 57,1) = rgb0(0.667,0.435,0.224)
   shade 1 = #FFF6EE = rgb(255,246,238) = rgba(255,246,238,1) = rgb0(1,0.965,0.933)
   shade 2 = #F8CBA2 = rgb(248,203,162) = rgba(248,203,162,1) = rgb0(0.973,0.796,0.635)
   shade 3 = #5C2D01 = rgb( 92, 45,  1) = rgba( 92, 45,  1,1) = rgb0(0.361,0.176,0.004)
   shade 4 = #1B0D00 = rgb( 27, 13,  0) = rgba( 27, 13,  0,1) = rgb0(0.106,0.051,0)


#####  Generated by Paletton.com (c) 2002-2014*/*/
