<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Neat Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Sans"/>
    <link rel="stylesheet" href="/static/style.css"/>
    <script src='/static/nprogress.js'></script>
    <link rel='stylesheet' href='/static/nprogress.css'/>
  </head>
  <body>
    <ul class="nav ">
      <li class="nav-item">
        <a class="nav-link active" href="#">DNA Sequencing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Plates</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">{{ g.user['email'] }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Support</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li> -->
    </ul>

    <div class="user_home">
        <h5>

        </h5>
        <p>
          {% if sequencing|length == plates|length == 0 %}
          New account
          {% else %}
          {{sequencing|length}} orders, {{plates|length}} plates
          {% endif %}
        </p>
        <p>
          <a href="{{ url_for('account') }}">Account Settings</a>
        </p>
    </div>


    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4 sidebar">

          <div class="sidebar_flashes">
          {% with flashes = get_flashed_messages() %}
            {% if flashes %}
              <ul class="flashes">
              {% for message in flashes %}
                <li class="dismiss flash">✉️ {{ message }}</li>
              {% endfor %}
              </ul>
            {% endif %}
          {% endwith %}
          </div>
          <!-- 📦📅🔍💬 -->
          <div class="place_order">
            <h4>Order plates</h4>
            <form class="" action="{{ url_for('add_plate') }}" method="post">
              <div class="form-group">
                <label for="plate_number_select">Order plates</label>
                <select class="form-control" id="plate_number_select" name="plate_number_select">
                  <option>1 plate, 384 well</option>
                  <option>2 plates, 384 well</option>
                  <option>5 plates, 384 well</option>
                  <option>10 plates, 384 well</option>
                  <option>20 plates, 384 well</option>
                </select>
                <small class="form-text text-muted">Plates arrive in 2-3 business days. Plates are immediately available in your account.</small>
              </div>
             <button type="submit" class="btn btn-secondary">Buy Plates</button>
            </form>
          </div>

          <div class="place_order">
            <h4>Order sequencing</h4>
            <form class="" action="{{ url_for('order_sequencing') }}" method="post" enctype="multipart/form-data">
              <div class="form-group">
                <label for="plate_id">Select from your plates</label>
                <select class="form-control" id="plate_id" name="plate_id">
                  {% for pt in plates if pt.status == 0 %}
                  <option>Plate ID: {{ pt.id }}</option>
                  {% endfor %}
                </select>
                <!-- <small class="form-text text-muted">You can order sequencing before your plates arrive</small> -->
              </div>
              <div class="form-group">
                <label for="plate_id">Upload a sample map</label>
                <small class="form-text text-muted">Download templates in <a href="">plain text</a> and <a href="">Excel</a> file formats to map each well to a sample name for when the sequence is reported.</small>
              </div>
              <div class="form-group">
                <div class="btn-group">
                  <label class="btn btn-secondary" for="file_selector">
                      <input id="file_selector" name="file" type="file" style="display:none;" onchange="$('#upload-file-info').html($(this).val());">
                      Choose Plate Map
                  </label>
                  <label class="btn btn-secondary" id="upload-file-info"></label>
                </div>
              </div>
              <div class="form-group">
               <label for="reference_text">Include a reference</label>
               <input type="text" class="form-control" id="reference_text" name="reference_text" placeholder="My order name">
               <small class="form-text text-muted">The reference is just for your records</small>
             </div>
             <button type="submit" class="btn btn-secondary">Next Step</button>
            </form>
          </div>
        </div>



        <!-- sequencing orders -->

        <div class="col-md-8">
          <h2>All DNA Sequencing</h2>
          {% for seq in sequencing %}
          <div class="card">
          <div class="card-header">
            Sequencing Order
          </div>
          <div class="card-block">
            <h3 class="card-title">
              Sequencing Order #{{seq.id}}
               <br> {{ seq.status|status }}
            </h3>
            <p class="card-text">
              DNA sequencing order placed {{ seq.date_ordered }}
              with supporting text below as a natural lead-in to
              additional content.
            </p>
            <a href="#" class="btn btn-primary disabled">Get Results</a>
          </div>
        </div>
















            {% else %}
              <div class="none_yet">
                <p class="lead">No sequencing yet!</p>
                <p>No sequencing current exists for your account. <a href="">Order DNA sequencing</a></p>
              </div>
            {% endfor %}
          </div>
          <div class="place_order">
            <h4>Current inventory of plates</h4>
            {% for plate in plates %}
            <div class="row plate_order">
              <div class="col-1">
                {{plate.status|status}}
              </div>
              <div class="col-3">
                <strong>Neat Plate {{ plate.id }}</strong><br>
                384-well Echo
              </div>
              <div class="col-3">
                <small><strong>Status Report</strong></small><br> {{plate.status|status_human}}<br>
              </div>
              <div class="col-3">
                <small><strong>Date Ordered</strong></small><br>
                {{plate.date_ordered|datetimeformat}}
              </div>
              <div class="col-2">
                <small><strong>Support</strong></small><br>
                <a href="" class="danger">Report issue</a>
              </div>
            </div>
            {% else %}
            <div class="none_yet">
              <p class="lead">No plates yet!</p>
              <p><small class="muted"><strong>&larr;</strong> Place an order in the sidebar</p>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="footer">
        <p><a href="/help">Help</a> | Logged in as <a href="">{{g.user.email}}</a> | <a href="/logout">Log out</a> </p>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script>
      NProgress.start();


      $( ".dismiss" ).click(function() {
        $this.fadeOut( "slow", function() {
          // Animation complete.
        });
      });


      NProgress.done();
    </script>
  </body>
</html>
