{% extends "layout.html" %}
{% block title %}Neat Sequencing - Confirm Order{% endblock %}
{% block body %}
  <div class="container">
    <div class="sign_in_panel">
      <h3>One more step …</h3>
      {% if error %}
      <div class="error alert-warning">
        <strong>⚠️ Error:</strong>
        {{ error }}
      </div>
      {% endif %}
      <p>Can you confirm that this plate layout matches your samples? </p>
      <div class="plate_chart">
      {{chart}}
      </div>
      <form action="/commit_seq" method="post">
      <!-- <div class="form-group">
        <label for="promo">Promo code</label>
        <input type="text" id="promo" name="promo" class="form-control" placeholder="Enter promo code">
        <small class="form-text text-muted">Enter a promo code if you have one</small>
      </div> -->
      <div class="pull-right text-right">
        <button type="submit" class=" pull-right btn btn-primary">Confirm</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
