{% extends "layout.html" %}
{% block title %}Neat Sequencing - Log In{% endblock %}
{% block body %}
  <div class="container">
    <div class="sign_in_panel">
      <h3>Sign in to Neat</h3>
      {% if error %}
      <div class="error alert-warning">
        <strong>Error:</strong>
        {{ error }}
      </div>
      {% endif %}
      <form action="" method="post">
      <div class="form-group">
        <label for="user_name">Email address</label>
        <input type="email" name="user_name" class="form-control" id="user_name" placeholder="Enter email">
        <small class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" id="password" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
{% endblock %}
