{% extends "layout.html" %}
{% block title %}Neat Sequencing - Sign In{% endblock %}
{% block body %}
  <div class="container">
    <div class="sign_in_panel">
      <h3>Sign in to Neat</h3>
      <div class="flashes">
      {% with flashes = get_flashed_messages() %}
        {% if flashes %}
          <ul class="flashes">
          {% for message in flashes %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
      </div>
      {% if error %}
      <div class="error alert-warning">
        <strong>⚠️ Error:</strong>
        {{ error }}
      </div>
      {% endif %}
      <form action="" method="post">
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" name="email" class="form-control" id="email" placeholder="Enter email">
        <small class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" id="password" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-primary">Go To Console</button>
    </form>
  </div>
</div>
{% endblock %}
